<div class="col-md-4">
	<h1>Top <%= media_name.capitalize %></h1>
	<% media.each do |m| %>
		<h2>
			<%= link_to m.name, polymorphic_path(m) %>
			<small>Ranked: <%= m.rank %></small>
		</h2>
	<% end %>
	<%= link_to "View More #{media_name.capitalize}", polymorphic_path(media_name) %>
</div>
