<div class="col-lg-12">
  <div class="row">
    <%= render partial: "/shared/top_list", 
        locals: { 
          media: @albums, 
          plur_name: 'albums' 
        } %> 
    <%= render partial: "/shared/top_list", 
        locals: { 
          media: @books, 
          plur_name: 'books' 
        } %> 
    <%= render partial: "/shared/top_list", 
        locals: { 
          media: @movies, 
          plur_name: 'movies' 
        } %> 
  </div>
</div>