@import "bootstrap-sprockets";
@import "bootstrap";

.page-header {
  background: url(owl.png);
  background-repeat: no-repeat;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}

.page-header h1 {
    margin-left: 150px;
}