<div class="page-header">
	<img class="owl"><%= image_tag 'owl.png' %></div>
	<h1 class="main-title"><%= link_to "Media Ranker", root_url %></h1>
	<h3 class="sub-title">Ranking the Best of Everything</h3>
</div>